body {
  margin:0;
  padding:0;
}
#green-area{
    background-color:  #00933F;
	width: 885px;
	height: 324px;
	position: inherit;
	margin-left: 150pt;
	margin-top: 100pt;
}
table{
     width: 858px;
	 height: 296px;
     margin-left:13px;
     position:absolute;
     margin-top:14px;
     background-color:black;
     border:1.5px solid black;
     padding:0;
     border-top-left-radius:15px;

     -moz-border-radius-topleft: 15px;
     border-top-right-radius:15px;
     border-bottom-right-radius:15px;
     border-bottom-left-radius:15px;
     text-align:center;
     font-family:Tahoma;
     font-size:16px;
}
tr,td,th{
    border:1px solid black;
    background-color: #F8CA14;
    
}
table,tr,th{
    height:30px;
}
th:first-of-type{
    border-top-left-radius:13px;
    -moz-border-radius-topleft: 13px;
}
th:last-of-type{
    border-top-right-radius:13px;
}
.white td{
    background-color:white;
}
.grey td{
    background-color:#C8C8C8;   
}
.right{
    text-align:right;
}
.left{
    text-align:left;
}

tr:last-of-type td:first-of-type{
    border-bottom-left-radius:15px;
    -moz-border-radius-topleft: 15px;
}
/*tr:last-of-type td:last-of-type{
    border-bottom-right-radius:15px;
   
}*/
#round-corner{
    border-bottom-right-radius:15px;
}
button:disabled{
     width:38px;
    height:38px;
    border-radius:38px;
    font-size:10px;
    text-align:center;
    background-color:red;
    color:white;
}
button{
    width:38px;
    height:38px;
    border-radius:38px;
    font-size:10px;
    text-align:center;
    background-color:green;
    color:white;
}
button:enabled:hover{
    opacity:0.8;
    cursor:pointer;
}

select{
    width:42px;
    height:35px;
    background-color:lightgray;
    color:red;
}
select:enabled{
    background-color:white;
    color:green;
    border-style:inset;
}