div{
    background-color:purple;
    color:white;
    width:700px;
    height:400px;
    margin:0 auto;
    background-image: url("images/ch1.jpg");
    padding-top: 40px;
    border:1px double grey;
}
p{
    color:lightcyan;
    font-weight:bold;
    font-family:sans-serif;
    padding-top: 10px;
    padding-left: 120px;
}
p:first-child{
    padding-left: 280px;
}
