@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin horizontal-gradients($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left left, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(left, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(left, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(left, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(left, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(left, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
@mixin d-grad($from, $to,$repeat:none) {
	background: $from;
	background: -moz-linear-gradient(-45deg, $from, $to);
	background: -webkit-gradient(linear, left top, right bottom,$from, $to);
	background: -webkit-linear-gradient(-45deg,  $from, $to);
	background: -o-linear-gradient(-45deg,  $from, $to);
	background: -ms-linear-gradient(-45deg,  $from, $to);
	background: linear-gradient(135deg,  $from, $to);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{$from}', endColorstr='#{to}',GradientType=1 );	
}

@mixin radial-gradient($from, $to,$repeat:none) {
	background: $from;
	background: -moz-radial-gradient(center, ellipse cover, $from, $to);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($from), color-stop($to));
	background: -webkit-radial-gradient(center, ellipse cover,  $from, $to);
	background: -o-radial-gradient(center, ellipse cover, $from, $to);
	background: -ms-radial-gradient(center, ellipse cover,  $from, $to);
	background: radial-gradient(ellipse at center,$from, $to);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 );
}
